.NewsItem {
    padding: 10px;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
}
.Image {
    width: 15%;
}
.InfoBox {
    flex-grow: 10;
}
.ItemInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ReadMore {
    flex-grow: 10;
}
.DeleteButton {
    cursor: pointer;
    color: blue;

}